.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(180, 52%, 96%);
}

.App-bg {
  background-color: rgb(91, 164, 164);
  width: 1440px;
  height: 157px;
}